@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cyan-strong: hsl(172, 67%, 45%);
  --cyan-dark: hsl(183, 100%, 15%);
  --gray-cyan-dark: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --grayish-cyan-light: hsl(185, 41%, 84%);
  --grayish-cyan-lighter: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body{
  font-family: 'Space Mono', monospace;
  background-color: var(--grayish-cyan-light);
}

.container{
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 650px;
  border: 1px solid black;
  border-radius: 2rem;
  background-color: var(--white);
  min-height: 50vh;
  padding: 2em;
}

.bill__form{
  display: flex;
  flex-direction: column;
}