@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input{
  cursor: pointer;
}

:root {
  --cyan-strong: hsl(172, 67%, 45%);
  --cyan-dark: hsl(183, 100%, 15%);
  --gray-cyan-dark: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --grayish-cyan-light: hsl(185, 41%, 84%);
  --grayish-cyan-lighter: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body{
  font-family: 'Space Mono', monospace;
  background-color: var(--grayish-cyan-light);
}

.brand{
  text-align: center;
  margin: 3rem 0rem;
}

.container{
  margin: 0 auto;
  max-width: 900px;
  border-radius: 2rem;
  background-color: var(--white);
  padding: 2em;
}

.bill__form{
  display: flex;
  flex-direction: column;
}

.form-control{
  display: flex;
  flex-direction: column;
  color: var(--gray-cyan-dark);
  gap: 0.2rem;
  margin-bottom: 2rem;
}
.form-control > label{
  margin-bottom: 0.9rem;
}

.form-input{
  width: 100%;
  padding: 0.6rem 0.9rem;
  background-color: var(--grayish-cyan-lighter);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.input-field{
  outline-style: none;
  text-align: right;
  width: 90%;
  background-color: transparent;
  border: none;
  color: var(--cyan-dark);
  font-size: 2rem;
  font-weight: 900;
}

.form-input_percent{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}

.tip-percentage{
  background-color: var(--cyan-dark);
  color: var(--grayish-cyan-lighter);
  font: inherit;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.7rem;
  border: none;
}

.tip-percentage-custom{
  border: 1px solid var(--grayish-cyan-lighter);
  outline-style: none;
  font: inherit;
  text-align: right;
  background-color: var(--grayish-cyan-lighter);
  color: var(--cyan-dark);
  font-size: 2rem;
  font-weight: 900;
  padding: 0 1.1rem;
}

.tip-percentage-custom::placeholder{
  color: var(--grayish-cyan);
  font-size: 1rem;
}

.bill__summary{
  background-color: var(--cyan-dark);
  padding: 1.5rem;
  border-radius: 1.1rem;
}

.bill__summary-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1rem;
}

.bill__summary-info-label{
  display: flex;
  flex-direction: column;
  color: var(--grayish-cyan-light);
}

.bill__summary-info-label > span:nth-child(2){
  color: var(--gray-cyan-dark);
  font-size: 0.9rem;
}

.bill__summary-amount{
  color: var(--cyan-strong);
  font-size: 2rem;
}

.btn-reset{
  width: 100%;
  padding: 0.9rem;
  background-color: var(--cyan-strong);
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--cyan-dark);
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.8rem;
  cursor: pointer;
}

@media(min-width:769px){
  .bill__form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  .bill__input-form{
    flex: 1 1 0;
  }
  .bill__summary{
    flex: 1 1 0;
  }
  .form-input_percent{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}